<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>PiBo Manager - {{ titleService.title }}</h1>
    <span class="menu-spacer"></span>
    <!-- <div>
      <a mat-button [routerLink]="'/reception'"> Reception </a>
      <a mat-button [routerLink]="'/owners'"> Owners </a>
      <a mat-button [routerLink]="'/pets'"> Pets </a>
      <a mat-button [routerLink]="'/analytics'"> Analytics </a>
    </div> -->
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span style="font-size: 12px;">{{ titleService.subtitle }}</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="'side'" [opened]="'true'">
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/reception'"> Reception </a>
      <a mat-list-item [routerLink]="'/owners'"> Owners </a>
      <a mat-list-item [routerLink]="'/pets'"> Pets </a>
      <a mat-list-item [routerLink]="'/analytics'"> Analytics </a>
      <!-- <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a> -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
